@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mixology Inventory</h1>
    <p class="lead">This is a Live Inventory Program that helps keep track of Drink Consumption.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4" style="background-color:white;">
        <h2>Recipe</h2>
        <p>
            You can store the recipes of different drinks you make here.
        </p>
        <p>@Html.ActionLink("Recipe", "Index", "Drink", null, new { @class = "btn btn-success btn-large text-dark" })</p>
    </div>
    <div class="col-md-4" style="background-color:white;">
        <h2>Inventory</h2>
        <p>Here is where you input the different liquids you have in stock.</p>
        <p>@Html.ActionLink("Inventory", "Index", "Liquid", null, new { @class = "btn btn-success btn-large text-dark" })</p>
    </div>
    <div class="col-md-4" style="background-color:white;">
        <h2>Mix</h2>
        <p>This is where the live inventory happens</p>
        <p>@Html.ActionLink("Mix", "Index", "Mix", null, new { @class = "btn btn-success btn-large text-dark" })</p>
    </div>
</div>